// Componentes, piezas específicas forkeadas, botones, etc

// Fork de Don't Push Me Buttons / CPC Color:
// https://codepen.io/ahart814/pen/yLNMZGa

:root {
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
}

.big-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1rem;
  color: var(--colorShadeA);
  text-transform: uppercase;
  padding: 1em 2em;
  border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
  transform-style: preserve-3d;
  transition: all 120ms cubic-bezier(0, 0, 1, 1);
  font-family: $font-btn;
  font-weight: bolder;
}

.big-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
  text-decoration: none;
}

.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

.big-button:active {
  transform: translate(0em, 0.75em);
}

.big-button:active::before {
  transform: translate3d(0, 0, -1em);
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}

// Botones del formulario de Contacto
// 100% fork
$color-gray: #666;
$color-black: #000;
$stripe-height: 7px;
$btn-color: $color-btn-text;
$btn-background: #fff;
$btn-color-hover: #fff;
$btn-background-hover: $color-gray;
$border-color: $color-gray;
$border-color-hover: $color-black;

.contacto__btn {
  justify-content: center;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

@mixin reset-button {
  overflow: visible;
  border: 0;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  &:-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.contacto__btn .btn {
  @include reset-button;
  font-family: $font-btn;
  font-weight: bolder;
  font-size: large;
  display: flex;
  text-decoration: none;
  padding: 1rem 1rem;
  background-color: $btn-background;
  color: $btn-color;
  border: 2px solid $border-color;
  border-radius: 6px;
  transition: all 0.5s ease;

  &--stripe {
    overflow: hidden;
    position: relative;

    &:after {
      content: "";
      display: block;
      height: $stripe-height;
      width: 100%;
      background-image: repeating-linear-gradient(
        45deg,
        $border-color,
        $border-color 1px,
        transparent 2px,
        transparent 5px
      );
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-top: 1px solid $border-color;
      position: absolute;
      left: 0;
      bottom: 0;
      background-size: $stripe-height $stripe-height;
    }

    &:hover {
      background-color: $btn-background-hover;
      color: $btn-color-hover;
      border-color: $border-color-hover;

      &:after {
        background-image: repeating-linear-gradient(
          45deg,
          $btn-color-hover,
          $btn-color-hover 1px,
          transparent 2px,
          transparent 5px
        );
        border-top: 1px solid $border-color-hover;
        animation: stripe-slide 12s infinite linear forwards;
      }
    }
  }

  &--large {
    width: 50%;
  }

  &--radius {
    border-radius: 36px;
  }
}

.contacto__btn--submit {
  margin-left: 3rem;
}

// Para aplicar en mobile
@media screen and (max-width: $mobile) {
  .contacto__btn .contacto__btn--submit {
    margin-left: 0;
    margin-top: 2rem;
  }
}
