// Componentes, bloques y objetos de Bootstrap utilizados en el sitio

// Landing. Señaladores del Catálogo usando mixin
@mixin card__catalogo__img($card__img) {
  background-image: radial-gradient(
      rgba(0, 0, 0, 0.212),
      rgba(128, 128, 128, 0.466)
    ),
    url($card__img);
}

.card__catalogo__img__feminismos {
  @include card__catalogo__img("../img/catalogo_feminismos.png");
}

.card__catalogo__img__politica {
  @include card__catalogo__img("../img/trinchera01-1024x684.jpg");
}

.card__catalogo__img__infancias {
  @include card__catalogo__img("../img/catalogo_infancias.png");
}

.card__catalogo__img__rosarinas {
  @include card__catalogo__img("../img/catalogo_rosario.png");
}

// Bootstrap cards para el catálgo de la librería en landing
.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

// Ajuste al ancho izquierdo del borde
.card-custom-img::after {
  position: absolute;
  content: "";
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

// Carousels en usina_cultural

.col-centered {
  float: none;
  margin: 0 auto;
}

// Grilla de libros con Cards
// https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/
// https://codepen.io/maryj25/pen/axBNVO

.main__div__container__libros__card__title {
  position: relative;
  bottom: 0;
  background-color: $font-card-titles-background;
  width: 100%;
  text-align: center;
  font-family: $font-card-titles;
  color: $color-titles;
  font-weight: bold;
}

.main__div__container__libros__card__texto {
  font-family: $font-card-text-libros;
  font-size: large;
  font-weight: 500;
  text-align: unset;
  margin-top: 0.5rem;
}

@media screen and (max-width: $mobile) {
  .main__div__container__libros__card__texto {
    font-size: medium;
  }
}

.main__div__container__libros__card__body {
  padding: 0 0.7rem 1rem;
}

.card__footer {
  align-items: flex-end;
  padding-bottom: 1rem;
}

.main__div__container__card__btn {
  margin-top: 1rem;
  font-family: $font-card-titles;
  font-weight: bold;
}

.card-img-top {
  height: 10rem;
  object-fit: cover;
}

// Sección de videos en Horas Libres con BS Cards
// https://codepen.io/FlorinCornea/pen/vMRKXp

.main__div__container__videos__card__title {
  position: relative;
  bottom: 0;
  background-color: $font-card-titles-background;
  width: 100%;
  text-align: center;
  font-family: $font-card-titles;
  color: $color-titles;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.main__div__container__videos__card__texto {
  font-family: $font-card-text-videos;
  font-size: normal;
  text-align: unset;
  line-height: 2rem;
}

.main__div__container__videos .card-wrapper {
  margin-bottom: 30px;
}
