// Colores background
$color-nav-background: rgb(241, 217, 227);
$color-nav-list-hover: rgba(104, 48, 48, 0.233);
$color-btn-background: rgb(118, 204, 164);
$font-card-titles-background: rgba(54, 54, 54, 0.7);

// Colores de textos, títulos, párrafos especiales
$color-titles: rgb(251, 252, 247);
$color-section-titles: rgb(65, 49, 49);
$color-p-muted: rgb(110, 109, 109);
$color-btn-text: rgb(65, 49, 49);

// Colores específicos del Footer
$color-footer: rgb(241, 217, 227);
$color-p-footer: rgb(8, 8, 8);
$color-icons-footer: rgb(95, 93, 93);
$color-icons-hover: rgb(121, 20, 104);
