// Registro de las distintas tipografías que estuve usando:
// Noto Sans, sans-serif;
// Kadwa, serif;
// Quicksand, sans-serif;
// Roboto, sans-serif;
// Poppins, sans-serif;
// 'Frank Ruhl Libre', serif;
// 'Proza Libre', sans-serif;

// Tipografía navbar
$font-li: Noto Sans, sans-serif;

// Tipografías de h1, h2 y subtítulos en secciones
$font-titles: Kadwa, serif;
$font-subtitles: Kadwa, serif;
$font-h1-size: 7rem;
$font-h2-size: 4rem;
$font-h3-size: 2rem;

// Tipografía para botones
$font-btn: Quicksand, sans-serif;

// Tipografía para textos y párrafos
$font-parrafos: Noto Sans, sans-serif;
$font-parrafos-destacados: Quicksand, sans-serif;

// Tipografías para títulos y textos en cards
$font-card-titles: Roboto, sans-serif;
$font-card-text-libros: Poppins, sans-serif;
$font-card-text-videos: Noto Sans, sans-serif;
