// Reset de estilos
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility; // Lo encontré navegando y leyendo, quizás no sirve para nada
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

// Probando alternativas para media queries con breakouts y mixins
// https://itnext.io/writing-media-queries-with-sass-mixins-3ea591ea3ea4
// https://css-tricks.com/approaches-media-queries-sass/

$mobile: 320px; // min
$tablet: 768px; // min
$desktop: 1024px; // min

/* 
// Definiendo mixins con condicionales
@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
} */

// Estilos para títulos, subtítulos de landing y páginas
h1 {
  text-align: center;
  font-family: $font-titles;
  font-size: $font-h1-size;
  color: $color-titles;
}

h2 {
  text-align: center;
  font-family: $font-subtitles;
  font-size: $font-h2-size;
  color: $color-titles;
}

// Uso los mismos h1 y h2 de portadas para los subtítulos en páginas, cambiando el color
.sections__heading {
  color: $color-section-titles;
}

// Estilos para párrafos y bloques de texto genéricos
.section__parrafos__standard {
  font-family: $font-parrafos;
  font-size: medium;
  text-align: none;
  line-height: 2em;
  padding-right: 15%;
  padding-left: 15%;
  margin-top: 1rem;
  word-spacing: 0.5rem;
}

// Párrafos destacados
.section__parrafos__destacados {
  @extend .section__parrafos__standard;
  font-size: 1rem;
  font-family: $font-parrafos-destacados;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
}

// Para aplicar en mobile y ajustar tamaño de tipografía, márgenes, etc.
@media screen and (max-width: $tablet) {
  .section__parrafos__standard {
    text-align: unset;
    font-size: medium;
    line-height: 1.5rem;
    padding-right: 5%;
    padding-left: 5%;
  }
  .section__parrafos__destacados {
    font-size: 0.8rem;
    text-align: justify;
  }
}

// Aplicando bold / negrita
.section__parrafos__standard--bold {
  @extend .section__parrafos__standard;
  font-weight: 600;
}

// Para los párrafos con alineaciones especiales (como usina_cultural)
.section__parrafos__standard--carousel {
  @extend .section__parrafos__standard;
  padding-left: 1rem;
  padding-right: 1rem;
}

// Textos en segundo plano
.section__parrafos__muted {
  font-family: $font-parrafos;
  font-size: small;
  color: $color-p-muted;
  text-align: center;
}
