// Dos clases que uso en algunos casos en los que no logro separar bloques de otra manera
.section__separador {
  margin-bottom: 2rem;
}

.section__separador--top {
  margin-top: 2rem;
}

// Tengo que revisar y mejorar esto, si no lo incluyo se aplica un margin a todos los elementos del footer
p {
  margin-bottom: 0;
}

//
//
