* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 
// Definiendo mixins con condicionales
@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
} */
h1 {
  text-align: center;
  font-family: Kadwa, serif;
  font-size: 7rem;
  color: #fbfcf7;
}

h2 {
  text-align: center;
  font-family: Kadwa, serif;
  font-size: 4rem;
  color: #fbfcf7;
}

.sections__heading {
  color: #413131;
}

.section__parrafos__standard, .section__parrafos__destacados, .section__parrafos__standard--bold, .section__parrafos__standard--carousel {
  font-family: Noto Sans, sans-serif;
  font-size: medium;
  text-align: none;
  line-height: 2em;
  padding-right: 15%;
  padding-left: 15%;
  margin-top: 1rem;
  word-spacing: 0.5rem;
}

.section__parrafos__destacados {
  font-size: 1rem;
  font-family: Quicksand, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .section__parrafos__standard, .section__parrafos__destacados, .section__parrafos__standard--bold, .section__parrafos__standard--carousel {
    text-align: unset;
    font-size: medium;
    line-height: 1.5rem;
    padding-right: 5%;
    padding-left: 5%;
  }
  .section__parrafos__destacados {
    font-size: 0.8rem;
    text-align: justify;
  }
}

.section__parrafos__standard--bold {
  font-weight: 600;
}

.section__parrafos__standard--carousel {
  padding-left: 1rem;
  padding-right: 1rem;
}

.section__parrafos__muted {
  font-family: Noto Sans, sans-serif;
  font-size: small;
  color: #6e6d6d;
  text-align: center;
}

.body__header__nav {
  background-color: #f1d9e3;
}

.nav-item a:hover {
  background-color: rgba(104, 48, 48, 0.233);
  color: black;
  border-radius: 10px;
}

.nav-item .body__header__nav__list__menu__items {
  font-family: Noto Sans, sans-serif;
  font-size: 1em !important;
  text-transform: uppercase;
  margin-left: 1rem;
}

@media screen and (max-width: 320px) {
  .nav-item a:hover {
    padding-left: 0.5rem;
  }
}

.main__portada {
  padding-right: 0;
  padding-left: 0;
}

.main__portada__section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 54, 54, 0.397)), to(rgba(48, 47, 47, 0.397))), url("../img/unsplash-kevin-et-laurianne-langlais.jpg");
  background-image: linear-gradient(rgba(54, 54, 54, 0.397), rgba(48, 47, 47, 0.397)), url("../img/unsplash-kevin-et-laurianne-langlais.jpg");
  background-size: cover;
  padding-top: 20vh;
  height: 100vh;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .main__portada__section h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .main__portada__section h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
}

.main__sections {
  padding-right: 0;
  padding-left: 0;
}

.main__img__paginas {
  color: #fbfcf7;
  background-position: center;
  padding-top: 2rem;
  margin-top: 4rem;
  height: 15rem;
  width: 100%;
}

h1 {
  padding-top: 2rem;
  font-size: 4.5rem;
}

@media screen and (max-width: 768px) {
  .main__img__paginas {
    height: 10rem;
    padding-top: 3rem;
    margin-top: 4rem;
  }
  .main__img__paginas h1 {
    font-size: 2.5rem;
    padding-top: 0rem;
  }
}

.main__img__paginas__quienesomos {
  background-image: radial-gradient(rgba(0, 0, 0, 0.212), rgba(128, 128, 128, 0.466)), url("../img/foto_libro_roferrer.jpg");
  background-position: center;
  background-size: cover;
}

.main__img__paginas__trinchera {
  background-image: radial-gradient(rgba(0, 0, 0, 0.212), rgba(128, 128, 128, 0.466)), url("../img/hiphop04.jpg");
  background-position: center;
  background-size: cover;
}

.main__img__paginas__usina {
  background-image: radial-gradient(rgba(0, 0, 0, 0.212), rgba(128, 128, 128, 0.466)), url("../img/foto_dragas02.jpg");
  background-position: center;
  background-size: cover;
}

.main__img__paginas__libros {
  background-image: radial-gradient(rgba(0, 0, 0, 0.212), rgba(128, 128, 128, 0.466)), url("../img/Portada-1.jpg");
  background-position: center;
  background-size: cover;
}

.main__img__paginas__horaslibres {
  background-image: radial-gradient(rgba(0, 0, 0, 0.212), rgba(128, 128, 128, 0.466)), url("../img/unsplash-museums-victoria.jpg");
  background-position: center;
  background-size: cover;
}

.video__responsive {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video__responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.parrafos__citas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blockquote-custom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  font-size: large;
  margin-top: 2rem;
  margin-bottom: 0;
  width: auto;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
}

#img__flyer {
  padding-left: 6rem;
}

@media screen and (max-width: 1024px) {
  #img__flyer {
    padding-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .video__responsive--mobile {
    margin-top: 1rem;
  }
}

.contacto {
  font-family: Noto Sans, sans-serif;
  background: linear-gradient(45deg, #f1d9e3, #76cca4);
  margin-top: 4.5rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

#contacto__heading {
  padding-top: 0;
  font-size: 4rem;
}

@media screen and (max-width: 767px) {
  #contacto__heading {
    font-size: 3rem;
  }
}

.footer {
  position: relative;
  bottom: 0;
  background-color: #f1d9e3;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  color: #080808;
  text-align: center;
  padding-top: 0.5rem;
}

.footer__container__textos {
  color: #080808;
  font-family: Noto Sans, sans-serif;
  font-size: small;
}

.footer__container__textos i {
  font-size: 1.5em;
}

@media screen and (max-width: 320px) {
  .footer i {
    font-size: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
}

.footer__container__textos--title {
  font-family: Kadwa, serif;
  font-size: 1.3rem;
  margin: 0;
}

.footer__container__icons a {
  text-decoration: none;
  color: #5f5d5d;
  font-size: 0.9em;
}

.footer__container__icons a:hover {
  color: #791468;
}

.footer__container__icons i {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.footer__container__avatar {
  width: 3rem;
}

@media screen and (max-width: 768px) {
  .footer__container__avatar {
    width: 3em;
  }
}

:root {
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
}

.big-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1rem;
  color: var(--colorShadeA);
  text-transform: uppercase;
  padding: 1em 2em;
  border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 120ms cubic-bezier(0, 0, 1, 1);
  transition: all 120ms cubic-bezier(0, 0, 1, 1);
  font-family: Quicksand, sans-serif;
  font-weight: bolder;
}

.big-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
          box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  -webkit-transform: translate3d(0, 0.75em, -1em);
          transform: translate3d(0, 0.75em, -1em);
  -webkit-transition: all 175ms cubic-bezier(0, 0, 1, 1);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.big-button:hover {
  background: var(--colorShadeD);
  -webkit-transform: translate(0, 0.375em);
          transform: translate(0, 0.375em);
  text-decoration: none;
}

.big-button:hover::before {
  -webkit-transform: translate3d(0, 0.75em, -1em);
          transform: translate3d(0, 0.75em, -1em);
}

.big-button:active {
  -webkit-transform: translate(0em, 0.75em);
          transform: translate(0em, 0.75em);
}

.big-button:active::before {
  -webkit-transform: translate3d(0, 0, -1em);
          transform: translate3d(0, 0, -1em);
  -webkit-box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
          box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}

.contacto__btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 0;
}

@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.contacto__btn .btn {
  overflow: visible;
  border: 0;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  font-family: Quicksand, sans-serif;
  font-weight: bolder;
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding: 1rem 1rem;
  background-color: #fff;
  color: #413131;
  border: 2px solid #666;
  border-radius: 6px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contacto__btn .btn:-moz-focus-inner {
  padding: 0;
  border: 0;
}

.contacto__btn .btn--stripe {
  overflow: hidden;
  position: relative;
}

.contacto__btn .btn--stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.contacto__btn .btn--stripe:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}

.contacto__btn .btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #000;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
          animation: stripe-slide 12s infinite linear forwards;
}

.contacto__btn .btn--large {
  width: 50%;
}

.contacto__btn .btn--radius {
  border-radius: 36px;
}

.contacto__btn--submit {
  margin-left: 3rem;
}

@media screen and (max-width: 320px) {
  .contacto__btn .contacto__btn--submit {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.card__catalogo__img__feminismos {
  background-image: radial-gradient(rgba(0, 0, 0, 0.212), rgba(128, 128, 128, 0.466)), url("../img/catalogo_feminismos.png");
}

.card__catalogo__img__politica {
  background-image: radial-gradient(rgba(0, 0, 0, 0.212), rgba(128, 128, 128, 0.466)), url("../img/trinchera01-1024x684.jpg");
}

.card__catalogo__img__infancias {
  background-image: radial-gradient(rgba(0, 0, 0, 0.212), rgba(128, 128, 128, 0.466)), url("../img/catalogo_infancias.png");
}

.card__catalogo__img__rosarinas {
  background-image: radial-gradient(rgba(0, 0, 0, 0.212), rgba(128, 128, 128, 0.466)), url("../img/catalogo_rosario.png");
}

.card-custom {
  overflow: hidden;
  min-height: 450px;
  -webkit-box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
          box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

.card-custom-img::after {
  position: absolute;
  content: "";
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
          box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.main__div__container__libros__card__title {
  position: relative;
  bottom: 0;
  background-color: rgba(54, 54, 54, 0.7);
  width: 100%;
  text-align: center;
  font-family: Roboto, sans-serif;
  color: #fbfcf7;
  font-weight: bold;
}

.main__div__container__libros__card__texto {
  font-family: Poppins, sans-serif;
  font-size: large;
  font-weight: 500;
  text-align: unset;
  margin-top: 0.5rem;
}

@media screen and (max-width: 320px) {
  .main__div__container__libros__card__texto {
    font-size: medium;
  }
}

.main__div__container__libros__card__body {
  padding: 0 0.7rem 1rem;
}

.card__footer {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 1rem;
}

.main__div__container__card__btn {
  margin-top: 1rem;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.card-img-top {
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__div__container__videos__card__title {
  position: relative;
  bottom: 0;
  background-color: rgba(54, 54, 54, 0.7);
  width: 100%;
  text-align: center;
  font-family: Roboto, sans-serif;
  color: #fbfcf7;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.main__div__container__videos__card__texto {
  font-family: Noto Sans, sans-serif;
  font-size: normal;
  text-align: unset;
  line-height: 2rem;
}

.main__div__container__videos .card-wrapper {
  margin-bottom: 30px;
}

.section__separador {
  margin-bottom: 2rem;
}

.section__separador--top {
  margin-top: 2rem;
}

p {
  margin-bottom: 0;
}
/*# sourceMappingURL=estilos.css.map */