// Magias de Contacto
.contacto {
  font-family: $font-parrafos;
  background: linear-gradient(
    45deg,
    $color-nav-background,
    $color-btn-background
  );
  margin-top: 4.5rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

#contacto__heading {
  padding-top: 0;
  font-size: $font-h2-size;
}

// Me traía problemas el título de la sección en pantallas pequeñas
@media screen and (max-width: $tablet - 1px) {
  #contacto__heading {
    font-size: $font-h2-size - 1rem;
  }
}