// Footer
.footer {
  position: relative;
  bottom: 0;
  background-color: $color-footer;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  color: $color-p-footer;
  text-align: center;
  padding-top: 0.5rem;
}

.footer__container__textos {
  color: $color-p-footer;
  font-family: $font-parrafos;
  font-size: small;

  & i {
    font-size: 1.5em;
  }
}

// Media queries para ajustar el tamaño de los íconos en pantallas pequeñas
@media screen and (max-width: $mobile) {
  .footer i {
    font-size: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
}

.footer__container__textos--title {
  font-family: $font-titles;
  font-size: 1.3rem;
  margin: 0;
}

.footer__container__icons {
  a {
    text-decoration: none;
    color: $color-icons-footer;
    font-size: 0.9em;
    &:hover {
      color: $color-icons-hover;
    }
  }
  i {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
}

.footer__container__avatar {
  width: 3rem;
}

// Media queries para ajustar el tamaño de los íconos en pantallas pequeñas
@media screen and (max-width: $tablet) {
  .footer__container__avatar {
    width: 3em;
  }
}