// Landing, portada, catálogo

// Aplico estos estilos para lograr que la img de portada cubra todo el width (sobre container-fluid)
.main__portada {
  padding-right: 0;
  padding-left: 0;
}

// Aprovecho el mixin de las portadas de páginas
@mixin gradiente($imagen) {
  background-image: linear-gradient(
      rgba(54, 54, 54, 0.397),
      rgba(48, 47, 47, 0.397)
    ),
    url($imagen);
}

.main__portada__section {
  @include gradiente("../img/unsplash-kevin-et-laurianne-langlais.jpg");
  background-size: cover;
  padding-top: 20vh;
  height: 100vh;
  text-align: center;
}

// Media queries para ajustar el tamaño de los títulos en pantallas pequeñas
@media screen and (max-width: $mobile) {
  .main__portada__section h1 {
    font-size: $font-h1-size - 3rem;
  }
  h2 {
    font-size: $font-h2-size - 2rem;
  }
}

@media screen and (max-width: $tablet) {
  .main__portada__section h1 {
    font-size: $font-h1-size - 3rem;
  }
  h2 {
    font-size: $font-h2-size - 2rem;
  }
}