// Agregando estilos al navbar con BS
.body__header__nav {
  background-color: $color-nav-background;
}

.nav-item a:hover {
  background-color: $color-nav-list-hover;
  color: black;
  border-radius: 10px;
}

.nav-item .body__header__nav__list__menu__items {
  font-family: $font-li;
  font-size: 1em !important;
  text-transform: uppercase;
  margin-left: 1rem;
}

@media screen and (max-width: $mobile) {
  .nav-item a:hover {
    padding-left: 0.5rem;
  }
}