// Estilos generales para las páginas

// Aplico estos estilos para lograr que la img de portada cubra todo el width (sobre container-fluid)
.main__sections {
  padding-right: 0;
  padding-left: 0;
}

// Imágenes centrales de páginas
.main__img__paginas {
  color: $color-titles;
  background-position: center;
  padding-top: 2rem;
  margin-top: 4rem;
  height: 15rem;
  width: 100%;
}
h1 {
  padding-top: 2rem;
  font-size: 4.5rem;
}

@media screen and (max-width: $tablet) {
  .main__img__paginas {
    height: 10rem;
    padding-top: 3rem;
    margin-top: 4rem;
  }
  .main__img__paginas h1 {
    font-size: 2.5rem;
    padding-top: 0rem;
  }
}

@mixin gradiente($imagen) {
  background-image: radial-gradient(
      rgba(0, 0, 0, 0.212),
      rgba(128, 128, 128, 0.466)
    ),
    url($imagen);
  background-position: center;
  background-size: cover;
}

.main__img__paginas__quienesomos {
  @include gradiente("../img/foto_libro_roferrer.jpg");
}

.main__img__paginas__trinchera {
  @include gradiente("../img/hiphop04.jpg");
}

.main__img__paginas__usina {
  @include gradiente("../img/foto_dragas02.jpg");
}

.main__img__paginas__libros {
  @include gradiente("../img/Portada-1.jpg");
}

.main__img__paginas__horaslibres {
  @include gradiente("../img/unsplash-museums-victoria.jpg");
}

// Haciendo responsive videos embebidos de Youtube
.video__responsive {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video__responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

// Agregando estilos de cita a párrafos
.parrafos__citas {
  display: flex;
  justify-content: center;
}

.blockquote-custom {
  justify-content: center;
  text-align: center;
  position: relative;
  font-size: large;
  margin-top: 2rem;
  margin-bottom: 0;
  width: auto;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
}

// En Trinchera, intentando dar estilo al flyer - img
#img__flyer {
  padding-left: 6rem;
}

@media screen and (max-width: $desktop) {
  #img__flyer {
    padding-left: 0;
    width: 100%;
  }
}

// Para separar los videos en pantallas pequeñas
@media screen and (max-width: $desktop) {
  .video__responsive--mobile {
    margin-top: 1rem;
  }
}